@font-face {
  font-family: 'Futura';
  font-weight: 300;
  src:  url('../fonts/futurapt-light.woff') format('woff');
}
@font-face {
  font-family: 'Futura';
  font-weight: 600;
  src:  url('../fonts/futurapt-bold.woff') format('woff');
}     

body {
  padding: 0;
  margin: 0;
  font-family: $font__text_main;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.4px;
  background: $color__light_grey;
}
a {
  text-decoration: none;
  
  &:not(.no-color) {
    color: $color__bright;
  }  
  &:hover {
    color: darken($color__bright, 5%);
  }
}
p {
  margin: 0;
  &.sm {
    font-size: 16px;
  }
}
input {
  &[type=text] {
    font-family: $font__text_main;
    font-size: 16px;
    line-height: 2.3;
    padding: 0 20px;
    border: 1.5px solid darken($color__light_grey, 20%);
    box-sizing: border-box;
    
    &.lg {
      font-size: 18px;
      line-height: 2.3;
      min-width: 50%;
    }
    
    &:focus, &:active {
      outline: 2px solid $color__bright;      
    }
  }
  &::-webkit-input-placeholder {
    
  }
  
}
.btn-std {
  font-family: $font__text_main;
  font-size: 16px;
  line-height: 2.3;
  border: 1.5px solid transparent;
  padding: 0 10px;
  background: lighten( $color__light_grey, 2% );  
  
  &:active, &:focus {    
    outline: none;
  }
  
  &.lg {
    font-size: 18px;
    line-height: 2.3;    
  }
  
  // colors
  &.bright {
    background: lighten( $color__bright, 17% );
    color: #fff;
    
    &:active, &:focus, &:hover {
      background: lighten( $color__bright, 10% );
    }
  }
  
  &.outlined {
    border-color: lighten( $color__bright, 17% );
  } 
}