$color__light_grey: #eff2f7;
$color__bright: #FF0051;

$font__headings_main: 'Kurale', serif;
$font__text_main: 'Futura', cursive;
$font__cool: 'Poiret One', cursive;

$masonry__item_gap: 0.5%;

$screen__lg: 1200px;
$screen__md: 900px;
$screen__sm: 768px;
$screen__xs: 550px;
