@font-face {
  font-family: 'Futura';
  font-weight: 300;
  src: url("../fonts/futurapt-light.woff") format("woff");
}
@font-face {
  font-family: 'Futura';
  font-weight: 600;
  src: url("../fonts/futurapt-bold.woff") format("woff");
}
/* line 12, ../sass/general/_base.scss */
body {
  padding: 0;
  margin: 0;
  font-family: "Futura", cursive;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.4px;
  background: #eff2f7;
}

/* line 21, ../sass/general/_base.scss */
a {
  text-decoration: none;
}
/* line 24, ../sass/general/_base.scss */
a:not(.no-color) {
  color: #FF0051;
}
/* line 27, ../sass/general/_base.scss */
a:hover {
  color: #e60049;
}

/* line 32, ../sass/general/_base.scss */
input[type=text] {
  font-family: "Futura", cursive;
  font-size: 16px;
  line-height: 2.3;
  padding: 0 20px;
  border: 1.5px solid #abbbd5;
  box-sizing: border-box;
}
/* line 40, ../sass/general/_base.scss */
input[type=text].lg {
  font-size: 18px;
  line-height: 2.3;
  min-width: 50%;
}
/* line 46, ../sass/general/_base.scss */
input[type=text]:focus, input[type=text]:active {
  outline: 2px solid #FF0051;
}

/* line 55, ../sass/general/_base.scss */
.btn-std {
  font-family: "Futura", cursive;
  font-size: 16px;
  line-height: 2.3;
  border: 1.5px solid transparent;
  padding: 0 10px;
  background: #ff578c;
  color: #fff;
}
/* line 64, ../sass/general/_base.scss */
.btn-std:active, .btn-std:focus {
  background: #ff3374;
  outline: none;
}
/* line 69, ../sass/general/_base.scss */
.btn-std.lg {
  font-size: 18px;
  line-height: 2.3;
}

/* line 1, ../sass/public/_header.scss */
#header {
  padding: 0 1%;
}

/* line 4, ../sass/public/_header.scss */
.site-logo {
  font-family: "Kurale", serif;
}

/* line 3, ../sass/public/_galleries.scss */
.gallery.flex-masonry {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 0.5%;
}
/* line 9, ../sass/public/_galleries.scss */
.gallery.flex-masonry .gallery-item {
  background: #fff;
  max-width: 32.33333%;
  margin: 0.5%;
  padding: 1.5% 1.5% 0;
  box-sizing: border-box;
  border: 1px solid #e5eaf2;
}
@media (max-width: 900px) {
  /* line 9, ../sass/public/_galleries.scss */
  .gallery.flex-masonry .gallery-item {
    max-width: 49%;
    padding: 2.5% 2.5% 0;
  }
}
@media (max-width: 550px) {
  /* line 9, ../sass/public/_galleries.scss */
  .gallery.flex-masonry .gallery-item {
    max-width: 99%;
  }
}
/* line 24, ../sass/public/_galleries.scss */
.gallery.flex-masonry .gallery-item img {
  max-width: 100%;
}
/* line 27, ../sass/public/_galleries.scss */
.gallery.flex-masonry .gallery-item p {
  margin-left: 2px;
  margin-right: 2px;
}
