.droparea {
  .invite {
    background: #fff;
    border: 1.5px dashed darken($color__light_grey, 27%);
    margin: 20px 0 20px 0;
    p {
      text-align: center;
    }
    input {
      visibility: hidden;
    }
  }
  
}